@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Tablet */

  main {
    min-height: 950px;
  }

  article#endereco p {
    text-align: left;
  }

  iframe#mapa {
    width: 80%;
    max-width: 400px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  /* Telas maiores*/

  main {
    height: auto;
  }

  article#endereco p {
    text-align: left;
  }

  iframe#mapa {
    width: 90%;
    max-width: 550px;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    display: block;
  }
}
